@import "https://js.arcgis.com/4.28/@arcgis/core/assets/esri/themes/light/main.css";

// @mixin keyframes($animation-name) {
//     @-webkit-keyframes #{$animation-name} {
//       @content;
//     }
//     @keyframes #{$animation-name} {
//       @content;
//     }
//   }
  
//   @mixin animation($str) {
//     -webkit-animation: #{$str};
//     animation: #{$str};
//   }
  
//   @include keyframes(fade) {
//     0% {
//       left: 0px;
//     } 
//     100% {
//       left: 20px;
//     }
//   }

body {
    background-color:#f7f7f7 !important;  
} 
.message_block{
position: absolute;
top: 70px;
left: 50%;
transform: translate(-50%, -50%);
width: 40%;
}
.successMessage{
    background-color: #fff !important;
    border:3px solid #347427 !important;
    color:#347427 !important;
    box-shadow: 0px 0px 10px 0px #696969;;
}
  
.c-bold{
    font-weight: 600 !important;
}

#viewDiv {
    height: 70vh;
    width: 100%;
  }
  
// Login
.ai-btn {
    transition: 0.5s;
    &:hover{
        color:#347427;
    }
}
.esri-feature-fields__field-header{
    background-color: #347427 !important;
    color:#fff;
}
.file{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}
.file-input {
    cursor: pointer;
    img{
    max-height: 200px;
    background-color: rgba(243, 243, 243, 0.411);
    border-radius: 5px;
    width: 100%;
    
    }
}

.login-wrapper{
    background-color: #2C2C2C;
    position: relative;
    height: 100vh;
    .login-container {
        color:#fff;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        height: 100%;
        img { 
            position: relative;
            height:140px;
            width: 160px;
            float: left;
            margin-bottom: 40px;
            border-radius: 20px;
        } 
        .input-form-wr {
            width: 100%;
            padding:20px;
            input {
                width:300px;
                border-radius: 3px;
                outline: none;
                border: 1px solid #383838; 
                padding: 8px;
                margin-bottom: 27px;
            }
            button {
                background-color: #439034;
                padding:8px 30px;
                float: right;
                border:none;
                color:#fff;
            }
        }
    }
}
// menu
.c-white {
    color:#fff !important;
}
.menu {
    display: block ;
    .menu-wrapper {
        height: 100vh;
        width: 250px;
        position: fixed;
        background-color: #2C2C2C;
        z-index:1;
       
        .hamburger-icon {
            i {
                font-size: 20px;
                color:#fff !important;
                font-weight: 600;
                width:auto !important;
                background-color: #439034 !important;
                padding:16px 22.5px;  
            }
        }
        ul {
            width: 100%;
            padding:0; 
            margin:0;
            margin-top:120px;
            // background-color:#fff;
            li  {
                list-style-type: none;
                margin-bottom: -2px !important;
                margin-left: 10px;
                margin-right: 10px;
                a {
                    padding: 16px;
                    width: 100%;
                    display: inline-block;
                    border-radius:5px;
                    text-decoration: none;
                    color:#fff;
                    // background-color: #fff;
                    height: 52px;
                    transition: 0.5s;
                    &:hover {
                        color: #2c2c2c;
                        background-color: #fff;
                        i{
                            color:#2C2C2C  ;
                        }
                    }
                    i {
                        font-size: 24px ;
                        float: left;
                        padding-right: 10px; 
                        position: absolute;
                        transition: 0.5s !important;

                        
                    }
                    span {
                        position: absolute;
                        left:75px;
                    }
                }
            }
        }
    .menu-logo {
        margin:30px 0px;
        margin-bottom: 60px;
        height: 100px;
        text-align: center;
            img{
                height: 100px;
            }

        }

    }
    .selected {
        background-color: #fff !important;
        color:#2C2C2C !important;
    }
    li.log-out-btn {
           width: 100%;
            margin: 0px !important;
            background-color: #347427;
            position: absolute;

            bottom:0;
            a {
                color:#d6d6d6 !important;
                margin-right: 10px !important; 
                i{
                    color: #d6d6d6 !important;
                    transition: 0.5s;
                     
                }
                &:hover{
                    color:#ffffff !important;
                    background-color: #347427bb !important;
                       

                    i{
                        color:#ffffff !important; 
                        padding-right: 15px !important; 
                    }
                }
            }
    }
    
} 

.menu-top{
        background-color: #2C2C2C;
        padding:14px;   
        position: fixed;
        width: 100%;
        
    }

.ham_menu {
    display: none;
    .menu-wrapper {
        height: 100vh;
        width: auto;
        top:0px;
        left: 0px;
        position: fixed;
        background-color: #2C2C2C;
        z-index:1;
        .hamburger-icon {
            i {
                font-size: 20px;
                color:#fff !important;
                font-weight: 600;
                width:100% !important;
                background-color: #439034 !important;
                padding:16px; 
                text-align: center;    
            }
        }
        ul {
            width: 100%;
            padding:0; 
            margin:0;
            padding-top:140px;
            li  {
                list-style-type: none;
                margin-bottom: 5px;
                background-color: #2C2C2C;
                a {
                    i {
                        font-size: 20px;
                        color:#fff;
                        font-weight: 600;
                        width:auto !important;
                        padding:16px; 
                        width: 60px !important;
                        text-align: center;
                    
                        &:hover {
                            color: #fff !important;
                            background-color: #2C2C2C;
                        }
                    }
                }
            }
        }
    .menu-logo {
        margin:30px 0px;
        margin-bottom: 60px;
      
        text-align: center;
            img{
                height: 40px;
            }
        }
    }
    .log-out-btn i{
        background-color:#439034 !important;
        color:#fff !important;
        position: absolute;
        bottom:0;
        margin-bottom:-5px;
        &:hover{
            background-color: #347427 !important;
        }
    }
    .selected {
        background-color: #2C2C2C !important;
        color:#fff !important;
    }
} 

.dashboard-default-box {
    padding:20px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-default-box2 {
    padding:20px;
    background-color: #eee;
    min-height: 300px;
     display: flex;
    justify-content: center;
    align-items: center;
   
}


.loading {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: 20px;

  span {
    width: 20px;
    height: 8px;
    background: #616161;
    border-radius: 5px;
     animation: pulse 1.8s infinite ease-in-out;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: #{($i - 1) * 0.2}s;
      }
    }
  }
}

@keyframes pulse {
  0%, 80%, 100% {
    background: #ccc; // light gray
  }
  40% {
    background: #8b8b8b; // dark gray
  }
}
// body of framework
.header-container {
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding:12px;
}
.body-container {
    margin-top:100px;
    margin-bottom: 20px;
    
    background-color: rgb(255, 255, 255);
    border-radius:  10px;
    padding:8px;
    .template-upload-image{
        margin-top:20px;
        padding:20px;
        text-align: center;
        border:3px  solid #347427;
        
      
    }
    a#field{
        cursor: pointer;
        padding:20px;
        background-color: #347427;
    }
    .textarea-content-page {
        width:100%;
        height: 300px;
        border:1px solid #eee !important;
        outline: none;
        background-color:#000;
        color:#f2f2f2;

    }
    .template-wrapper{
        padding:20px;
        height: 100%;
        a{
            text-decoration: none;
        }
        .template-box{
            margin: 40px 0px;
            text-align: center;
            background-color: rgb(211, 211, 211);
            transition: 0.5s;
            height: 250px;
            &:hover{
                background-color: rgb(161, 161, 161);
            }
            img{
                height: 100%;
                padding: 20px;
            }
            p {
                padding: 20px 0px;
                font-weight: 600;
                background-color: #439034;
                color: #fff !important;
            }

        }
    }
    
    .cat-wrapper {
        .map {
            a{
                color:#000000;
                text-decoration: none;
                transition: 0.5s;
                width: 100%;
                display: block;
                padding:10px;
                &:hover{
                    color:#439034;
                    background-color: #f1f1f1;
                }
            .fa-folder {
                color:rgb(235, 193, 57);
                }
            }
         }
    } 
    div#formfield{
        padding:10px;
    }
    div#addfield{
        margin-top:10px;
        background-color: hsla(109, 47%, 38%, 0.877);
        color: #fff;
        padding: 5px 10px;
        position: relative;
        bottom: 15px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        border:none;   
        outline:none;
        display: inline;
    }
    div#removefield{
        display: inline;

        margin-top: 10px;
        background-color: hwb(0 14% 11% / 0.87);
        color: #fff;
        padding: 5px 10px;
        position: relative;
        bottom: 15px;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        border:none;   
        outline:none;
    }
    // .param_field{
    //     border:1px solid #eee;
    //     outline: none;
    //     position: relative;
    //     // animation-name: param_field;
    //     // animation-duration: 2s;
    //     // animation-delay: 1s;s
    // }
    .btn-pop-up{
        border:none;
        border-radius: 5px;
        background-color: #439034;
        color:#fff;
        padding:5px 8px;
        position: relative;
        // @include animation('fade 2s linear');
    }
    .body-header-text {
        padding:8px;   
    }
    .create-form {
        padding:20px !important ;  
        select{
            background-color: hsla(109, 47%, 38%, 0.041) !important;
            border:none;
            padding:10px;
            width:100%;
        }
        input[type="radio"]{
            float: right;
            height: 20px;
            width: 20px;
            accent-color:#439034;
        }
            option {
                background-color: #fff;
            }
            #parameterContainer{

            }
            .workspace_parameters_title{
                    display: flex;
                    justify-content: space-between;
                .show_in_app {
                            
                }
            }
    }

    form {
        input[type="text"]{
            margin-top:5px;
            outline: none;   
            padding:10px;
            width:100%; 
            border: 1px solid #eee; 
        }
        textarea{ 
            margin-top:5px;
            min-height: 200px;
            outline: none;   
            padding:10px;
            width:100%; 
            border: 1px solid #eee; 
        }
        input[type="submit"] {
            margin-top:50px;
            border:none;
            background-color: #439034;
            color:#fff; 
            padding:10px 20px;
             
            transition: 0.5s; 
            border-radius: 5px;
            &:hover{
                background-color: #347427;
            }
        }
    }
    .create-item {
        padding:20px;
        padding-left:0px;
        margin-bottom:16px;
        a{  
            background-color: #439034;
            padding:10px 15px;
            text-decoration: none !important;
            color: #f0f0f0 !important;
            transition: 0.5s;
            // border-radius: 10px;
            &:hover{
                background-color: #347427;
            }
        }
    }
    .table-wrapper {
        display: table;
        width: 100%;
        * {
            display: table-row;
        }
        .wr-col-th {
            display:table-cell;
            background-color: #439034;
            color:#fff;
            padding:14px;
        }
        .wr-row{
            &:nth-child(odd){
                background-color: hsla(110, 47%, 38%, 0.11);
            }
        }
        .wr-col {
            padding:12px;
            display: table-cell; 
        }
        .wr-col-act
        {
            padding:12px;
            display: flex;
        }
        i.eye {
            background-color: #439034;
            padding:10px !important; 
            color:#ffffff !important;
            transition: 0.5s;
            float: left;
            width: 100%;
   
            text-align: center;
            &:hover {
                background-color: #347427;
            }
        }
        i.pencil {
            background-color: #439034;
            padding:10px !important;
            color:#ffffff !important;
            transition: 0.5s;
            float: left;
            width: 100%;
            text-align: center;
            
            &:hover {
                background-color: #347427;
            }
        }
        i.trash {
            background-color: #d30000;
            padding:10px !important;
            color:#ffffff !important;
            transition: 0.5s;
            float: left;
            width: 100%;
            text-align: center;
            
            &:hover {
                color:#fff !important;
                background-color: #b90606;
            }
        }
        .actions{
            display: flex;
        }
        .btn_delete{
            border:none;
            background-color: red;
            padding:0px;
        }
    } 

}

//profile
.pf-container {
    border-radius: 5px;
    background-color: #fff;
    margin-top:20px;
    padding:18px;
    .pf-image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .file {
            opacity: 0;
            width: 0.1px;
            height: 0.1px;
            position: absolute;
            
          }
        .file-input{
            cursor: pointer;
            img{
                height: 120px;
                background-color:rgba(243, 243, 243, 0.411);
                border-radius: 5px;
                width: 100%;
            }
        }
        
    }
    .pf-btn {
        background-color:#439034; 
        margin-top:25px;
        color:#fff;
        border:none;
        outline:none;
        border-radius: 5px;
        padding:8px 15px;
        transition: 0.5s;
        position: relative;
        width:100%;
        &:hover {
           background-color: #347427;
        }
   }
}
.profile-wrapper {
    .profile-form{
        display: inline-grid;
        input[type='text'] { 
            border: none; 
            outline: none;
            border-bottom: 1px solid #eee;
            padding: 8px;
        }
    }
    .pf-btn {
         background-color:#439034;
         margin-top:25px;
         color:#fff;
         border:none;
         outline:none;
         border-radius: 5px;
         padding:8px 15px;
         transition: 0.5s;
         &:hover {
            background-color: #347427;
         }
    }
}

.mt-80{
    margin-top:80px;
} 

.copy_btn{
    border:none;
    background-color: transparent;
    transition: 0.5s;
    &:hover{
     color:#347427;   
    }
}
//keyframes

// @mixin keyframes($param_field) {
//     @keyframes #{$param_field}{
//         0%   {left:0px; top:0px;}
//         100% {left:20px; top:0px;}

//       }
//     }
  
//media query's

@media (max-width: 1440px) {
    .menu {
        display: none;
        .menu-wrapper{
           
        }
    }
    .ham_menu{
        display: block ;
    }
  }

//   @media (max-width: 991px) {
//     .ham_menu{
//         display: block ;
//         .menu-wrapper{
           
//         }
//     }
//   }